.App {
    font-family: sans-serif;
    text-align: center;
  }
  .css-46bh2p-MuiCardContent-root:last-child {
    padding-bottom: 0.375rem !important;
  }
  #Footer-Image{
    height: 7rem;
  }
  @media screen and (max-width: 424px) {
    .initial-alert {
      text-align: left;
    }
  }
  