.App {
    font-family: sans-serif;
    text-align: center;
  }
  #root > div > div > div.MuiStack-root.css-o7paz3-MuiStack-root > div > div{
    padding-bottom: 0.375rem;
  }
  #Footer-Image{
    height: 7rem;
  }
  @media screen and (max-width: 424px) {
    .initial-alert {
      text-align: left;
    }
  }
  